/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

p,
a,
span {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}

.centered  {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 0.5em;
}
