.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  width: 40%;
  padding: 0.5rem;
}

.heading:before,
.heading:after {
  display: block;
  content: "";
  height: 5px;
  width: 50%;
  padding: 0.1em;
  margin: 0.5em;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.item {
  background: white;
  max-width: 300px;
  width: 35%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 8px double #000000;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.item:nth-child(odd) {
  transform: rotate(3deg);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    margin-top: 1.5em;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 100%;
    max-width: 320px;
  }

  .item:nth-child(even) {
    display: none;
  }

  .item:nth-child(odd) {
    margin: 0.2rem auto;
    transform: rotate(0deg);
  }

  .heading {
    display: flex;
    justify-content: center;
    width: 96%;
    margin: 0 auto 0.5em;
  }

  .heading:before,
  .heading:after {
    display: block;
    content: "";
    height: 5px;
    width: 25%;
    padding: 0.1em;
    margin: 0.2em;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .find {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 1.5em;
  }

  .item {
    width: 80%;
    min-width: 420px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .item:nth-child(even) {
    display: none;
  }

  .item:nth-child(odd) {
    margin: 0.5em;
    transform: rotate(-1deg);
  }

  .heading {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto 0.5em;
  }

  .heading:before,
  .heading:after {
    display: block;
    content: "";
    height: 5px;
    width: 25%;
    padding: 0.1em;
    margin: 0.2em;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .find {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .item {
    background: white;
    max-width: 300px;
    width: 30%;
    margin: 0.7em;
    padding: 0.4em;
    border: solid 4px #000000;
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    margin-top: 2.5em;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    background: white;
    min-width: 300px;
    width: 30%;
    margin: 0.7em;
    padding: 0.4em;
    border: 8px double #000000;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .heading {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading:before,
  .heading:after {
    display: block;
    content: "";
    height: 5px;

    width: 25%;
    padding: 0.2rem;
    margin: 0.2rem;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
