.hero {
  background: rgb(0, 0, 0);
}

.models {
  display: flex;
  position: relative;
  top: 25px;
  margin-left: 1em;
}

.model {
  margin: 0.2em;
  border-radius: 0.3em;
}

.model:nth-child(even) {
  max-width: 300px;
}

.model:nth-child(odd) {
  max-width: 250px;
}

.image {
  height: auto;
  width: 100%;
  border-bottom: solid 0.3em #E94057;
  border-radius: 0.2em;
}
