.container {
  width: 1000px;
  margin-top: 1.5em;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  background: white;
  transform: rotate(2deg);
  margin: 0.5em;
  width: 30%;
  max-width: 350px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.3em;
}

.imgContainer {
  padding: 0;
  border-radius: 0.3em;
}

.heading {
  transform: rotate(2deg);
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  width: 46%;
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.heading:before, .heading:after {
  display: block;
  content: "";
  height: 5px;
  width: 150px;
  padding: 0.1em;
  margin: 0.5em;
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.poster {
  height: auto;
  width: 100%;
  border-radius: 0.3em;
}

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #ff62a6, 0 0 #340914, 0 0 #351e52, 0 0 #bb3bff, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

